{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main>
    <section id="event-list" class="card-background">
      <section class="card">
        <h2>Upcoming Events</h2>
        <form class="" action="{% url 'events_list' %}" method="GET">
          <h4>Filters</h4>
          <div class="controls">
            <div class="input-group">
              <label for="description">Description</label>
              <select name="description" id="description">
                <option selected value="">All</option>
                <option value="Jazz">Jazz</option>
                <option value="Talk">Talk</option>
                <option value="Rock">Rock</option>
              </select>
            </div>
      
            <div class="input-group">
              <label for="search">Search</label>
              <input type="text" name="search" id="search">
            </div>
            
            <div class="input-group">
              <label for="price_min">Min Price</label>
              <input type="number" name="price_min" id="price_min" min="0" step="0.5">
            </div>
            
            <div class="input-group">
              <label for="price_max">Max Price</label>
              <input type="number" name="price_max" id="price_max" min="0" step="0.5">
            </div>
    
            <div class="input-group">
              <a type="submit" href="{% url 'events_list' %}">Clear Filters</a>
              <button type="submit">Filter</button>
            </div>
          </div>
      </form>
      </section>
      <ul class="events-list">
        {% for event in events %}
          <li class="card event">
            <img class="event-image" src="{% static 'images/image_placeholder.jpg' %}" alt="">
            <div class="event-info">
              <h2>{{ event.title }}</h2>
              <h3>{{ event.datetime }} | £{{ event.cost }}</h3>
              <p>{{ event.description }}</p>
            </div>
            <div class="event-controls">
              <a href="{% url 'events_details' event.id %}" class="button gray">Details</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </section>
  </main>
{% endblock %}
